<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082414089886-ov1esq2hhn6hptop2dthl1qbvqqooruc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082414089886-ov1esq2hhn6hptop2dthl1qbvqqooruc</string>
	<key>API_KEY</key>
	<string>AIzaSyDArX1Gp4i5XP8mJGmft5kbPXmBpalWejQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1082414089886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.savePasswordProject1</string>
	<key>PROJECT_ID</key>
	<string>savepasswordproject</string>
	<key>STORAGE_BUCKET</key>
	<string>savepasswordproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082414089886:ios:41540dcb5f7270d37bdd8f</string>
	<key>DATABASE_URL</key>
	<string>https://savepasswordproject-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>